---
layout: page
title: Recent posts
---
{% include JB/setup %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<ul class="posts">
  {% for post in paginator.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}"><h2>{{ post.title }}</h2></a></li>
    {{ post.excerpt }}
  {% endfor %}
</ul>

<center>
{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        {% capture previous_page %}/{% endcapture %}
    {% else %}
        {% capture previous_page %}/page{{ paginator.previous_page }}{% endcapture %}
    {% endif %}
    <a class="pure-button" style="text-decoration: none" href="{{ previous_page }}">&larr; Prev</a>
{% endif %}
	{% capture location %}{{page.url | remove_first: 'page'}}{% endcapture %}
	{% capture locationtrimmed %}{{location | split: '/'}}{% endcapture %}
	{% if paginator.previous_page %} <b>Page {{ locationtrimmed }}</b>{% endif %}
{% if paginator.next_page %}
    <a class="pure-button" style="text-decoration: none" href="/page{{ paginator.next_page }}">Next &rarr;</a>
    {% else %}
    	<button class="pure-button pure-button-disabled">Next &rarr;</button>
{% endif %}
</center>